<% characterCoverClass = locals.large ? 'character-cover-large' : '' %>
<% characterGridClass = locals.large ? 'character-grid-large' : '' %>
<div class="character-grid <%= characterGridClass %>">
  <% characters.forEach(character => { %>
    <a href="/characters/<%= character.id %>">
      <img class="character-cover <%= characterCoverClass %>" src="<%= character.characterImagePath %>">
    </a>
  <% }) %>
</div>