<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Mybrary</a>
    <ul>
      <li><a href="/characters">Characters</a></li>
      <li><a href="/characters/new">Add Characters</a></li>
      
      <li><a href="/jobclasses">Jobclass</a></li>
      <li><a href="/jobclasses/new">Add Jobclass</a></li>

      <li><a href="/rarities">Rarity</a></li>
      <li><a href="/rarities/new">Add Rarity</a></li>

      <li><a href="/affiliations">Affiliation</a></li>
      <li><a href="/affliations/new">Add Affiliation</a></li>
    </ul>
  </nav>
</header>